[Unit]
Description=smartgate Service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
WorkingDirectory=/data/solution/smartgate
ExecStart=/data/solution/smartgate/bin/start.sh /data/solution/smartgate/etc/settings.json
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
